*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

#logoImage{
   width:100%;

}
#logo{
    box-sizing:border-box;
    width:15%;
}
#nav{
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:0.5rem;
    gap:10rem;
    padding-left:10rem;

}
#navItems{
    width:60%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    gap:3rem;
}
.navItem{

}
#slidingBackground{
    height:100vh;
    width:100vw;
    background:linear-gradient(#9766df84,white);
}
#optionTileBackground{
    height:100vh;
    widht:100vw;
}
