*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family:'ITC Avant Garde Gothic', 'Avant Garde', sans-serif;
}

#logoImage{
   width:100%;
    padding:0.2rem;
}
#logo{
    box-sizing:border-box;
    width:15%;
}
#nav{
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:0.5rem;
    gap:10rem;
    padding-left:10rem;

}
#navItems{
    width:60%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;

}
.navItem{
    padding:1.5rem;
    font-size:0.85rem;
    text-decoration:none;
    color:black;
    position: relative;
    display: inline-block;
}
#companyDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdownAnchor {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 0;
    text-align: left;
}

#companyAnchor{
    text-decoration:none;
    color:black;
}

#companyNav:hover #companyDropdown {
    display: block;
}

#slidingBackground{
    height:100vh;
    width:100vw;
    background:linear-gradient(#6921cf84,white);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#slidingText1{
    color:#681280;
    font-size:3rem;
    text-align:center;
    font-weight:550;

}
#slidingImage1{
    height:60%;
    width:30%;
}
#optionTileBackground{
    height:100vh;
    widht:100vw;
}
#slidingImage1{
    background:none;
}
#slidingText1Subheading{
    font-size:1.5rem;
    color:#71178a;
}
#startNowDiv{
    width:15%;
    height:10%;
    background-color:#681280;
    margin:1.5rem;
    border-radius:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
#startNowText{
    color:white;
    font-size:1.4rem;
    text-align:center;

}
#tileDiv{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:1rem;
}
.tile{
    height:400px;
    width:400px;
    border: solid 0.2rem #ece8e8;
    box-shadow:2px #e1dede;
    border-radius:1.2rem;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:2rem;

}
.tileIcon{
    height:60%;
    margin:auto;
    padding-bottom:1rem;
}
.tileTitle{
    font-size:2.25rem;
}
.tileDesc{
    font-size:1.05rem;
    color:#6a6969;
}
.arrowImageDiv{
    height:10%;
    width:10%;
    align-self:flex-end;
}

.arrowIcon{
    width:100%;
    height:100%;
}

#transactionBackground{
    height:800px;
    background:linear-gradient(black,indigo);
    border-radius:3rem;
    margin-left:8rem;
    margin-right:8rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2rem;
    padding:2rem;
}
#transactionTitle{
    color:#b99dd3;
    font-size:2.25rem;
    width:30%;
    margin:auto;
    text-align:center;
}
#upiOptionsDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100%;
    height:50%;
}
.upiOption{
    width:25%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    gap:1rem;
}
.upiOptionTitle{
    color:white;
    font-size:1.5rem;
    text-align:center;
}
.upiOptionDesc{
    color:white;
    font-size:1.25rem;
    text-align:center;

}
#upiLiteWalletImage{
    height:210px;
    width:250px;
    align-self:center;

}
#bankImage{
    height:230px;
    width:230px;
    align-self:center;
}
#creditCardImage{
    height:200px;
    width:220px;
    align-self:center;
}
#qrDiv{
    height:120px;
    width:120px;
    background-color:white;
    align-self:center;
    border-radius:1rem;
    padding:0.4rem;
    margin-top:2rem;
}
#qrImage{
    height:100%;
    width:100%;
    align-self:center;
}
#qrDesc{
    width:20%;
    text-align:center;
    color:white;
    font-size:1.5rem;
    gap:1rem;
}
#phoneImageBackground{
    width:100vw;
    height:1000px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#phoneImage{
    height:600px;
    width:600px;
    align-self:center;
}
#phoneImageDesc{
    text-align:center;
    width:30%;
    font-size:3rem;
    font-weight:530;
}
#safetyDashboard{
    width:100vw;
    height:600px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;

}
#playButtonImage{
    height:150px;
    width:150px;
    margin:2rem;
}
#safetyTitle{
    font-size:2.8rem;
    text-align:center;
    width:50%;
    font-weight:545;
}
#safetyDesc{
    font-size:1.35rem;
    width:55%;
    text-align:center;
    line-height:2rem;
    color:#575555;
}
#aboutDashboard{
    width:100vw;
    height:600px;
    display:flex;
    flex-direction:row;
    padding:2rem 2rem 1rem 7rem;
    gap:3rem;
}
.aboutDiv{
    height:100%;
    width:10%;
    display:flex;
    flex-direction:column;
    gap:1.15rem;
}
#aboutDivLogo{
    width:100%;
    height:6%;
}
.aboutDivTitle{
    text-decoration:none;
    color:black;
    font-weight:550;
    letter-spacing:-0.7px;
    font-size:1.05rem;
    margin:1rem 0rem;
}
.aboutDivSubtitle{
    text-decoration:none;
    letter-spacing:-0.9px;
    color:#535151;
}


